	h1{
	  font-family:"arial",helvetica,sans-serif;
	  font-size: 45px;
	}

	h2{
	  font-family:"arial",helvetica,sans-serif;
	  font-size: 40px;
	}
	
	h3{
	  font-family:"arial",helvetica,sans-serif;
	  font-size: 35px
	}

	h4{
	  font-family:"arial",helvetica,sans-serif;
	  font-size: 30px
	}	

	p{
	 font-family:"times new roman", times, serif;
	 font-size: 20px
	}

	ul{
	  list-style-type:none;
	  margin:0;
	  padding:0;
	  overflow:hidden;
	  background-color: #333;
	}

	li{
	  float:left;
		}
	
	li a{
	     display:block;
	     color: white;
	     text-align:center;
 	     padding: 14px 16px;
	     text-decoration: none;
	}
		
	li a: hover{
		background-color:#4caf50;
	}